/* ================================
   SHIKSHASETU - RESPONSIVE
================================= */

@media (max-width: 992px) {
  .navbar .container {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 10px;
  }

  .hero {
    padding: 60px 20px;
  }
}

@media (max-width: 768px) {

  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }

  .section {
    padding: 50px 0;
  }

  .modal-content {
    width: 90%;
  }

  .navbar .container {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .btn {
    width: 100%;
  }
}